html,
body{
    box-sizing: border-box;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.box-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: pink;
}

.card{
    width: 100%;
    min-height: 300px;
    background-color: royalblue;
}

.progress-bar{
    height: 1rem;
    background-color: red;
}

.loading{
    display: inline-block;
    height: 100%;
    width: 60%;
    background-color: salmon;
}

.description{
    padding: 1.6rem;
}

p{
    margin-bottom: 1.5rem;
}

.inputs-container{
    background-color: sienna;
    padding: 1rem 1.6rem;
    display: flex;
    width: calc(100% - 3.2rem);
    justify-content: space-between;
}

.input-dinheiro{
    width: 20%;
}

.give-now{
    color: white;
    font-weight: bold;
    border: none;
    background-color: #00be1c;
    transition: background .5s ease;
}

.give-now:hover{
    background-color: #008314;
    cursor: pointer;
}

.input-dinheiro,
.give-now{
    display: inline-block;
    padding: .7rem 1.7rem;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
}

.info-link{
    display: block;
    padding: 0 0 1.6rem 1.6rem;
    font-style: italic;
    text-decoration: none;
    color: #0ea0d6;
}

.botoes-container{
    display: flex;
    justify-content: space-between;
}

.botao-end{
    display: inline-block;
    width: 48%;
    margin: .5rem 0;
    font-size: 1rem;
    padding: .7rem .5rem;
}