html,
body{
    box-sizing: border-box;
    font-size: 20px;
    font-family: "rooney-sans",
    Avenir-Book,
    Calibri,
    sans-serif;
    color: #424242;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.box-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
/*     background-color: pink; */
}

.balloon{
    width: calc(100% - 4rem);
    padding: 1.3rem 2rem;
    background: #424242;
    border: 2px solid #424242;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    position: relative;
}

.dinheiro-restante{
    font-weight: bold;
}

.triangulo{
    display: inline-block;
    position: absolute;
    right: 15%;
    bottom: 0;
    transform: translateY(110%);
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid#424242;
    z-index: 100;
    
}

.card{
    width: 100%;
    min-height: 300px;
    /* background-color: royalblue; */
    border: 2px solid #dedede;
}

.progress-bar{
    height: 1rem;
    /* background-color: red; */
    border-bottom: 2px solid #dedede;
}

.loading{
    display: inline-block;
    height: 100%;
    width: 0;
    background-color: #f15e33;
    transition: width 2s ease;
}

.description{
    padding: 1.6rem 1.6rem 0 1.6rem;
}

p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: #777777;
}

.description p:last-child{
    margin-bottom: 0;
}

.days-left{
    color: #f15e33;
    font-weight: bold;
}

.num-donors{
    font-weight: bold;
}

.inputs-container{
   /*  background-color: sienna; */
    padding: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.fa-dollar-sign{
    z-index: 100;
    color: #777777;
    font-weight: bold;
    position: absolute;
    left: 2.2rem;
    top: 40%;
}

.input-dinheiro{
    width: calc(50% - 7rem);
    border: 2px solid #dedede;
    width: calc(46% - 2.6rem);
    margin-left: 1.6rem;
    padding: .7rem 0 .7rem 1.4rem;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #747474;
}

.input-dinheiro:focus{
    color: black;
}

.give-now{
    color: white;
    font-weight: bold;
    border: none;
    background-color: #00be1c;
    transition: background .3s ease;
    width: calc(48% - 1.6rem);
    margin-right: 1.6rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.give-now:hover{
    background-color: #f15e33;
    cursor: pointer;
}

.give-now:disabled,
.give-now:disabled:hover{
    opacity: .3;
    background: #00be1c;
    cursor: not-allowed;
}

.info-link{
    display: block;
    padding: 0 0 1.6rem 1.6rem;
    font-style: italic;
    text-decoration: none;
    color: #0ea0d6;
}

.botoes-container{
    display: flex;
    justify-content: space-between;
    width: calc(100% + 4px);
}

.botao-end{
    display: inline-block;
    width: 49%;
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: bold;
    color: #777777;
    padding: .7rem .5rem;
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: white;
    transition: background .5s ease;
}

.botao-end:hover{
    background: lightgray;
    cursor: pointer;
}

table{
    width: 20%;
    margin: 1rem;
}

table,
th,
td{
    border: 1px solid black;
}

th{
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
}

td{
    text-align: right;
}

@media screen and (max-width: 430px) {
    .box-container{
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        margin: 3% auto;
        width: 95%;
    }
    
    table{
        width: 96%;
        margin: auto;
    }
}